@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@font-face {
  font-family: 'drone-ranger-pro';
  src: url('/assets/fonts/Drone.Ranger.Pro/DroneRangerPro-Regular.ttf')
      format('truetype'),
    url('/assets/fonts/Drone.Ranger.Pro/DroneRangerPro-Regular.ttf')
      format('truetype');
}

.play-game {
  background: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);

  box-shadow: 0px 0px 50px rgba(187, 75, 255, 0.32);
  border-radius: 4px;
  width: 138px;
  height: 42px;
  font-size: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.radial-progress {
  color: #DA458F !important
}

.blur {
  backdrop-filter: blur(24px);
}

.radial-progress:after {
  background-color: white !important;
}

.percentage {
  box-sizing: border-box;
  opacity: 0.8;
  box-shadow: 0px 0px 30px 5px rgba(255, 50, 198, 0.8);
  border-radius: 50%;
  background-color: transparent;
  outline: 1px solid #da458f;
  outline-offset: -10px;
}

.content {
  box-sizing: border-box;
  opacity: 0.8;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
}

.percentage span {
  width: 180px;
  height: 180px;
  box-shadow: 0px 0px 30px 5px rgb(255 50 198 / 80%) inset;
}

.radial-progress:after {
  display: none;
}

.nav-back {
  background: rgba(23, 22, 26, 0.7);
}

.arrival_rect {
  border: 1px solid #fbc625;
  filter: drop-shadow(-12px 12px 0px #101010);
}

.play-right-back {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  box-sizing: border-box;
}

.play-right-back img {
  height: 98%;
}

.mt--140 {
  margin-top: -140px;
}

#root {
  overflow: hidden;
}

